* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  border: 3px solid rgb(255, 255, 255);
  padding: 10px;
  background-color: rgb(17, 17, 17);
}

#insta {
  position: fixed;
  width: 40px;
}

.oldalnav {
  margin-right: 300px;
}

.gombok {
  position: fixed;
  display: grid;
  grid-template-rows: auto;
  margin-top: 200px;
  gap: 10px;
}

.gombok a {
  display: grid;
  grid-template-columns: 40px auto;
  text-decoration: none;
}

.gombok span {
  color: white;
  font-size: 20px;
  margin: auto;
  margin-left: 20px;
}

.gombok img {
  width: 40px;
}

.felso_resz {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin: 50px 200px 25px 200px;
  padding-top: 25px;
  border-top: 1px solid rgb(109, 109, 109);
}

.felso_resz a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
}

.felso_resz p{
    margin-top: 0px;
}

.felso_resz img {
  background-color: white;
  width: 80px;
  border-radius: 50px;
  border: 3px solid transparent; /* ez chatgpt, nem tudtam megcsinalni xd*/
  background-image: 
    linear-gradient(rgb(255, 0, 0), rgb(255, 0, 0)),
    /* Belső tartalom színe */
    linear-gradient(to right, rgb(255, 145, 2), rgb(207, 2, 248)); /* Maga a színátmenet */
  background-origin: border-box; /* A második háttér a keretig tartson */
  background-clip:
    padding-box, border-box; /* Az első csak a tartalomig, a második a keretig */ /* ez chatgpt, nem tudtam megcsinalni xd*/
}

.oldal {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}

.post img {
  height: 1000px;
}
