* {
    box-sizing: border-box;
}
.oldal {
  display: grid;
  grid-template-columns: 250px 1fr; 
  background: #000;
  color: #fff;
  min-height: 100vh;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feltolto {
  text-align: center;
  padding: 3vw;
  border: 1px solid #262626;
  border-radius: 12px;
  width: 40vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50%;
}

.feltolto img {
  width: 50%;
  min-width: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feltolto p {
  margin: 20px 0;
}

button {
  background: #0095f6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
button img {
    width: 50%;
}

@media (max-width: 768px) {
  .oldal { grid-template-columns: 70px 1fr; }
  .feltolto { width: 80vw; }
}