* {
  box-sizing: border-box;
}

body {
  margin: 1.5vw;
  padding: 1vw;
  background-color: rgb(17, 17, 17);
  font-family: 'Inter', sans-serif;
}

#insta {
  position: fixed;
  width: 2vw;
}

.gombok {
  position: fixed;
  display: grid;
  grid-template-rows: auto;
  margin-top: 30vh;
  gap: 1.5vh;
}

.gombok a {
  display: grid;
  grid-template-columns: 2vw auto;
  text-decoration: none;
}

.gombok span {
  color: white;
  font-size: 1.2vw;
  margin: auto;
  margin-left: 1vw;
}

.gombok img {
  width: 2vw;
}

.oldal {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}

article iframe{
    width: 50vw;
    height: 89vh;
}

#instaprofilkep{
  width: 3.2vw;
  border-radius: 50px;
}

.instaprofil{
  color:white;
  text-align: left;
  display: grid;
  grid-template-columns: 3vw 7vw 7vw;
  padding-left: 6vw;
  justify-items: center;
  padding-top: 5vh;
}

.instaprofil span{
  margin: auto;
}

#username{
  font-weight: bold;
  font-size: 0.8vw;
}

#change{
  color: rgb(87, 168, 238);
  font-size: 0.8vw;
}

#change:hover{
  text-decoration: underline;
}